In [40]:
import pandas as pd
from tqdm import tqdm

In [41]:
train = pd.read_excel("task_data/train_data.xlsx")

In [42]:
train.head()

,Product,Job Role,Verbatim Feedback,Sentiment (1=Positive & 0= Negative)
0,IX,XYZ,There is no maintenance menu,0
1,IX,Architect,Very buggy.,0
2,IX,PQR,High quality - standards,1
3,IX,Sales Specialist,Features missing,0
4,IX,Architect,how to do the inter-working,0

In [43]:
length_of_the_messages = train["Verbatim Feedback "].str.split("\\s+")

print(length_of_the_messages)
print("Max number of words = ", length_of_the_messages.str.len().max())
print("Index = ", length_of_the_messages.str.len().idxmax())

0                     [There, is, no, maintenance, menu]
1                                         [Very, buggy.]
2                          [High, quality, -, standards]
3                                    [Features, missing]
4                      [how, to, do, the, inter-working]
                             ...
382                                 [uninteresting, GUI]
383                                [UI, is, interactive]
384    [Totally, instable.., Enginieering, quallity, ...
385                       [Lack, of, work, around, this]
386    [The, platform, is, been, wide, deploy, This, ...
Name: Verbatim Feedback , Length: 387, dtype: object
Max number of words =  102
Index =  188

In [44]:
train.columns

Index(['Product  ', 'Job Role', 'Verbatim Feedback ',
       'Sentiment (1=Positive & 0= Negative)'],
      dtype='object')

In [45]:
for col in train.columns:
    print(col, len(train[col].unique()))

Product   3
Job Role 55
Verbatim Feedback  362
Sentiment (1=Positive & 0= Negative) 2

In [46]:
print(len(train))

387

In [47]:
print(train['Sentiment (1=Positive & 0= Negative)'].value_counts())

0    213
1    174
Name: Sentiment (1=Positive & 0= Negative), dtype: int64

In [48]:
train = train.rename(columns={'Job Role': 'Job', 'Verbatim Feedback ': 'Feedback', 'Sentiment (1=Positive & 0= Negative)': 'Label'})

In [49]:
train.head()

  Product                 Job                       Feedback  Label
0        IX               XYZ  There is no  maintenance menu      0
1        IX         Architect                    Very buggy.      0
2        IX               PQR      High quality -  standards      1
3        IX  Sales Specialist               Features missing      0
4        IX         Architect    how to do the inter-working      0

In [50]:
pre = pd.read_csv('task_data/archive/Reviews.csv')

In [51]:
pre.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [52]:
pre = pre.rename(columns={'Score': 'score', 'Text': 'text', 'Summary': 'summary'})

In [53]:
pre = pd.DataFrame(pre[['score', 'text', 'summary']])

In [54]:
pre.head()

,score,text,summary
0,5,I have bought several of the Vitality canned d...,Good Quality Dog Food
1,1,Product arrived labeled as Jumbo Salted Peanut...,Not as Advertised
2,4,This is a confection that has been around a fe...,"""Delight"" says it all"
3,2,If you are looking for the secret ingredient i...,Cough Medicine
4,5,Great taffy at a great price. There was a wid...,Great taffy

In [55]:
pre['score'] = pre['score'].apply(lambda x: int(x > 3))

In [56]:
length_of_the_messages = pre["text"].str.split("\\s+")
cnt = 0
cnt1 = 0
index = 0
indexes = []
for l in tqdm(length_of_the_messages.str.len()):
    if l > 300:
        indexes.append(index)
    index +=1
pre.drop(index = indexes, axis = 0, inplace = True)

100%|██████████| 568454/568454 [00:00<00:00, 4756095.83it/s]

In [57]:
length_of_the_messages = pre["text"].str.split("\\s+")
cnt = 0
cnt1 =0
for l in tqdm(length_of_the_messages.str.len()):
    if l > 300:
        cnt += 1
    else:
        cnt1+=1
print(cnt, cnt1)

100%|██████████| 556341/556341 [00:00<00:00, 4742474.18it/s]

0 556341

In [58]:
pre.head()

,score,text,summary
0,1,I have bought several of the Vitality canned d...,Good Quality Dog Food
1,0,Product arrived labeled as Jumbo Salted Peanut...,Not as Advertised
2,1,This is a confection that has been around a fe...,"""Delight"" says it all"
3,0,If you are looking for the secret ingredient i...,Cough Medicine
4,1,Great taffy at a great price. There was a wid...,Great taffy

In [67]:
pre.isnull().sum().sum()

0

In [64]:
pre = pre.dropna()

In [66]:
pre.head()

,score,text,summary
0,1,I have bought several of the Vitality canned d...,Good Quality Dog Food
1,0,Product arrived labeled as Jumbo Salted Peanut...,Not as Advertised
2,1,This is a confection that has been around a fe...,"""Delight"" says it all"
3,0,If you are looking for the secret ingredient i...,Cough Medicine
4,1,Great taffy at a great price. There was a wid...,Great taffy